<a href="https://dl.acm.org/profile/99659346965">ACM</a>
-
<a href="https://arxiv.org/search/cs?searchtype=author&amp;query=Saona%2C+R">Arxiv</a>
-
<a href="https://crates.io/users/rasa200">Crates</a>
-
<a href="https://dblp.org/pid/223/5574.html">dblp</a>
-
<a href="https://deepai.org/profile/raimundo-saona">DeepAI</a>
-
<a href="https://docs.rs/releases/raimundo-saona">Docs.rs</a>
-
<a href="https://github.com/saona-raimundo/">Github</a>
-
<a href="https://scholar.google.com/citations?user=UJn7uJUAAAAJ">Google scholar</a>
-
<a href="https://www.researchgate.net/scientific-contributions/Raimundo-Saona-2138763192">Research gate</a>
-
<a href="https://www.semanticscholar.org/author/Raimundo-Saona/51120745">Semanthic Scholar</a>