<a href="https://dl.acm.org/profile/99659346965">Acm</a>
-
<a href="https://arxiv.org/search/cs?searchtype=author&amp;query=Saona%2C+R">
	<img src="https://static.arxiv.org/static/browse/0.3.2.6/images/icons/favicon.ico" style="width:1em;margin-right:.5em;" alt="ArXiv icon">ArXiv
</a>
-
<a href="https://crates.io/users/rasa200">Crates</a>
-
<a href="https://dblp.org/pid/223/5574.html">dblp</a>
-
<a href="https://deepai.org/profile/raimundo-saona">DeepAI</a>
-
<a href="https://docs.rs/releases/raimundo-saona">Docs.rs</a>
-
<a href="https://www.facebook.com/julian.saonaurmeneta.7/">Facebook</a>
-
<a href="https://github.com/saona-raimundo/">Github</a>
-
<a href="https://scholar.google.com/citations?user=UJn7uJUAAAAJ">Google scholar</a>
-
<a href="https://www.instagram.com/raimundojuliansaonaurmeneta/">Instagram</a>
-
<a href="https://www.linkedin.com/in/raimundo-saona/">LinkedIn</a>
-
<a href="https://www.mendeley.com/authors/57201122941/">Mendeley</a>
- 
<a itemscope itemtype="https://schema.org/Person" itemprop="sameAs" content="https://orcid.org/0000-0001-5103-038X" href="https://orcid.org/0000-0001-5103-038X" target="orcid.widget" rel="me noopener noreferrer" style="vertical-align:top;">
	<img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon">
	Orcid
</a>
-
<a href="https://publons.com/researcher/3394165/raimundo-julian-saona-urmeneta/">Publons</a>
-
<a href="https://www.researchgate.net/scientific-contributions/Raimundo-Saona-2138763192">Research gate</a>
-
<a href="https://www.scopus.com/authid/detail.uri?authorId=57201122941">Scopus</a>
-
<a href="https://www.semanticscholar.org/author/Raimundo-Saona/51120745">Semanthic Scholar</a>
-
<a href="https://twitter.com/RaimundoSaona">Twitter</a>
-
<a href="https://www.youtube.com/channel/UC9_zmMvzdyzzJlSDvV6Encg/featured">Youtube</a>

