---
layout: default
---


<div class="teaching">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% if site.paginate %}
    {% assign courses = paginator.courses %}
  {% else %}
    {% assign courses = site.courses %}
  {% endif %}


  {%- if courses.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.course_date_format | default: "%Y-%-m" -%}
      {%- for course in courses -%}
        <li>
        <span class="post-meta">{{ course.semester | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ course.url | relative_url }}">
            {{ course.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ course.excerpt }}
        {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}
  {%- endif -%}

</div>